{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Third Vision Studios">
    <meta name="keywords" content="Third Vision Studios, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Vision Studios KE</title>

    <!-- Favicon -->
    <link href="{% static 'laban/img/favicon1.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'laban/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/style7.css' %}" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div class="loader">
        <span>{</span><span>}</span>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'laban/img/logo6.png' %}" alt="">
                        </a>
                        <br/>
                        <a href="./index.html">
                            <img src="{% static 'laban/img/.png' %}" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./about.html">About</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./pricing.html">Pricing</a></li>
                            <li><a href="./video.html">Videos</a></li>
                            <li><a href="./gallery.html">Gallery</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                            
        
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- About Section Begin -->
    <section class="about-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="about-pic set-bg" data-setbg="{% static 'laban/img/about/laban.jpeg' %}">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <h2>Capturing the moments that captivate your heart</h2>
                            <p>In Photography industry most of the photographers tend to use their names for the company to create and develop their identity as individual. Whereas Laban has a different view towards creating identity. He believes in team efforts and giving credits to the contributors to the projects for team work always leads to the best results. </p>
                        </div>
                        <div class="at-list">
                            <div class="al-item">
                                <div class="al-pic">
                                    <img src="{% static 'laban/img/about/list-1.png' %}" alt="">
                                </div>
                                <div class="al-text">
                                    <h5>Professionalism</h5>
                                    <p>At Third Vision Studios KE we believe in "Alone we can do so little; together we can do so much" Laban graduated from Karatina University with Bachelors in Project Planning & Mgt and thereafter persued Visual Ads courses which helped him build strong foundations while studying Fine art in his early years during secondary education.</p>
                                </div>
                            </div>
                            <div class="al-item">
                                <div class="al-pic">
                                    <img src="{% static 'laban/img/about/list-2.png' %}" alt="">
                                </div>
                                <div class="al-text">
                                    <h5>About Third Vision Studio</h5>
                                    <p>Third Vision Studios KE is a multimedia company that offers a complete range of photography, videography, design and media marketing services that enable the growth of your business. Third Vision Studio was established as a media company in Kenya in 2013. From the concept through production to delivery, we offer the optimum balance of value and experience.</p>
                                </div>
                            </div>
                            <div class="al-item">
                                <div class="al-pic">
                                    <img src="{% static 'laban/img/about/list-4.png' %}" alt="">
                                </div>
                                <div class="al-text">
                                    <h5>Experience</h5>
                                    <p>With an experience of 10 years, our main strength is based on providing our customers with effective visual solutions with a valuable artistic depth. Our approach is one of collaboration. We like to hear your views and reactions to our work..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
    <br/><br/><br/><br/>
    <div class= "section-title">
        <center><h2>About us</h2></center>
    </div>
<section class="services-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">01</div>
                                <h5>Our Vision</h5>
                            </div>
                            <br/>
                            <p>To build long term relationships with our clients and provide exceptional media related services through innovation.</p>
                    </div>
                    <br/>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Our Mission</h5>
                        </div>
                        <br/>
                        <p>To be among the most recognized media communications domain in Africa and beyond.</p>
                    </div>
                    <br/>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>Our Strategy</h5>
                        </div>
                        <br/>
                        <p>Through interpreting the vision of our clients, we deliver artwork that will enable them be pioneers in their respective fields thus increasing their scope of influence and effectiveness.</p>
                    </div>
                </div>
                <br/>
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">04</div>
                            <h5>Core Values</h5>
                        </div>
                        <br/>
                        <p>i. Best timely quality and unique services<br/>ii. 100% Guaranteed performance<br/>iii. Cares for customer satisfaction<br/>iv. Professionalism<br/>v. Upholds integrity<br/>vi. Unmatched service</p>
                        <br/>
                    </div>
                    <br/>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">05</div>
                            <h5>Why Choose Us</h5>
                        </div>
                        <br/>
                        <p>i. Integrity<br/>ii. Deligence<br/>iii. Creativity<br/>iv. Servanthood<br/>v. Teamwork</p>
                    </div>    
                </div>
            </div>
        </div>
    </section>   
    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title">
                        <h2>Our team</h2>
                        <p>Our team of talented photographers, cinematographers, designers and writers serve all areas in Kenya & beyond. You deal directly with the team, forming a close working relationship to deliver clear, strategic solutions.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="right-btn">
                        <a href="/appointment.html" class="primary-btn">Appointment</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-item">
                        <img src="{% static 'laban/img/team/founder.jpg' %}" alt="">
                        <div class="ti-text">
                            <h5>Laban</h5>
                            <span>CEO & Founder</span>
                            <div class="ti-social">
                                <a href="https://web.facebook.com/ThirdVisionStudios"><i class="fa fa-facebook"></i></a>                                
                                <a href="https://www.youtube.com/@thirdvisionstudios2664"><i class="fa fa-youtube-play"></i></a>
                                <a href="https://instagram.com/thirdvision_studios?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-item">
                        <img src="{% static 'laban/img/team/photo.jpg' %}" alt="">
                        <div class="ti-text">
                            <h5>Pablo</h5>
                            <span>Director of Photography</span>
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>                                
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-item">
                        <img src="{% static 'laban/img/team/ph.png' %}" alt="">
                        <div class="ti-text">
                            <h5>Graphic Design</h5>
                            <span>Director creatives</span>
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>                                
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-item">
                        <img src="{% static 'laban/img/team/ph.png' %}" alt="">
                        <div class="ti-text">
                            <h5>Videography</h5>
                            <span>Director videography</span>
                            <div class="ti-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>                                
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section-title">
                    <h2>Our Clients</h2>
                    <p>THIRD VISION STUDIOS KE is priviledged to have been able to work and deliver successfully for a number of clients, to mention but a few;-</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="right-btn">
                    <a href="/contact.html" class="primary-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Cta Section Begin -->
    <section style="background-color:  #ffff;" class="cta-section spad set-bg" data-setbg="{% static 'laban/img/clients.png' %}">
        <div class="container">
            
            
            <div class="row">
                <div class="col-md-2 col-lg-9">
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Testimoial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>What cilent say?</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'laban/img/testimonial/client1.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5></h5>
                                <span></span>
                            </div>
                        </div>
                        <p>"I had the pleasure of working with Third Visions Studio and the entire experience was fantastic from start to finish. The studio's team was incredibly professional and made us feel comfortable throughout the shoot."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'laban/img/testimonial/client2.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5></h5>
                                <span></span>
                            </div>
                        </div>
                        <p>"I cannot say enough positive things about Thirds Visions Studio. From the moment I walked in, I was greeted with warmth and professionalism. The photographers are incredibly talented and have a keen eye for capturing the most beautiful moments."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'laban/img/testimonial/client3.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5></h5>
                                <span></span>
                            </div>
                        </div>
                        <p>"Breathtaking, Unique, Real, Beautiful, Gorgeous, Fun, Awesome and Amazing."</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="testimonial-item">
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'laban/img/testimonial/client4.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5></h5>
                                <span></span>
                            </div>
                        </div>
                        <p>"I cannot express how thrilled I am with the stunning photographs produced by Third Vision Studios. The team's professionalism, creativity, and attention to detail are unparalleled. Our wedding photoshoot was an absolute delight, and they captured our moments beautifully. I highly recommend them to anyone seeking top-notch photography services."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#">
                                <img src="{% static 'laban/img/till2.png' %}" alt="">
                            </a>
                        </div>
                        <p>Contact us now and let us crown your event with greatness.</p>
                        <div class="fa-social">
                            <a href="https://web.facebook.com/ThirdVisionStudios"><i class="fa fa-facebook"></i></a>                                
                            <a href="https://www.youtube.com/@thirdvisionstudios2664"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://instagram.com/thirdvision_studios?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Latest</h5>
                        <div class="fw-instagram">
                            <img src="{% static 'laban/img/instagram/latest 1.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 2.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="/gallery.html">Gallery</a></li>
                            
                            <li><a href="/services.html">Services</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Subscribe</h5>
                        <p></p>
                        <div class="fw-subscribe">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="left-btn">
                        <a href="/downloadfile.html" class="primary-btn">Get Our Catalogue PDF</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Third Visions Studio<br/>Website Created by John Mwangi
  
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'laban/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'laban/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'laban/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'laban/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'laban/js/main.js' %}"></script>
</body>

</html>

