{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Third Vision Studios">
    <meta name="keywords" content="Third Vision Studios, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Vision Studios KE</title>

    <!-- Favicon -->
    <link href="{% static 'laban/img/favicon1.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'laban/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/style6.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div class="loader">
        <span>{</span><span>}</span>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'laban/img/logo6.png' %}" alt="">
                        </a>
                        <br/>
                        <a href="./index.html">
                            <img src="{% static 'laban/img/' %}" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./pricing.html">Pricing</a></li>
                            <li><a href="./video.html">Videos</a></li>
                            <li><a href="./gallery.html">Gallery</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                            
                            
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'laban/img/hero/bgg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2><font color="White">Third Vision Studios Kenya</h2>
                                <a href="/contact.html" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{% static 'laban/img/hero/background.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Third Vision Studios Kenya</h2>
                                <a href="/contact.html" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/services/s1.jpg' %}" alt="">
                        <h3>Music Video Shoot</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/services/drone12.jpg' %}" alt="">
                        <h3>Drone Shot</h3>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/services/ruracio.jpg' %}" alt="">
                        <h3>Ruracio</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/services/photography.jpg' %}" alt="">
                        <h3>Photography</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title">
                        <h2>Categories</h2>
                    
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="right-btn"><a href="gallery.html" class="primary-btn">View all</a></div>
                </div>
            </div>
            <br/><br/>
            <div class="categories-slider owl-carousel">
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/wedding1.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Wedding</h4>
                        <span></span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/ruracio1.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Ruracio</h4>
                        <span></span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/potrait1.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Potrait</h4>
                        <span></span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/outdoor1.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Outdoor</h4>

                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/graphic.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Graphic Designing</h4>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="{% static 'laban/img/categories/live.jpg' %}"></div>
                    <div class="cs-text">
                        <h4>Live Streaming</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    
    <!-- Portfolio Section Begin -->
    <section class="portfolio-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our latest works</h2>
                    </div>
                    <div class="filter-controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".wedding">Wedding</li>
                            <li data-filter=".ruracio">Ruracio</li>
                            <li data-filter=".baby-bumps">Baby bumps</li>
                            <li data-filter=".drone">Drone-shots</li>
                            <li data-filter=".outdoor">Outdoor</li>
                            <li data-filter=".graphics">Graphics & Branding</li>
                            <li data-filter=".others">Others</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="portfolio-filter">
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/fashion3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/fashion3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/r2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/r2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/wd6.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/wd6.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/wd7.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/wd7.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/wd14.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/wd14.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                    
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/w1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/w1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/w2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/w2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/w3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/w3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg wedding" data-setbg="{% static 'laban/img/portfolio/w4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/w4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg ruracio" data-setbg="{% static 'laban/img/portfolio/ruracio/r1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/ruracio/r1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg ruracio" data-setbg="{% static 'laban/img/portfolio/ruracio/r2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/ruracio/r2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg ruracio" data-setbg="{% static 'laban/img/portfolio/ruracio/r3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/ruracio/r3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div><div class="pf-item set-bg ruracio" data-setbg="{% static 'laban/img/portfolio/ruracio/r4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/ruracio/r4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg baby-bumps" data-setbg="{% static 'laban/img/portfolio/baby/b3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/baby/b3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg baby-bumps" data-setbg="{% static 'laban/img/portfolio/baby/b4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/baby/b4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg baby-bumps" data-setbg="{% static 'laban/img/portfolio/baby/b5.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/baby/b5.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg baby-bumps" data-setbg="{% static 'laban/img/portfolio/baby/b6.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/baby/b6.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg outdoor" data-setbg="{% static 'laban/img/portfolio/out/o1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/out/o1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg outdoor" data-setbg="{% static 'laban/img/portfolio/out/o2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/out/o2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg outdoor" data-setbg="{% static 'laban/img/portfolio/out/o3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/out/o3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg outdoor" data-setbg="{% static 'laban/img/portfolio/out/o4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/out/o4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg graphics" data-setbg="{% static 'laban/img/portfolio/graphic/1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/graphic/1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg graphics" data-setbg="{% static 'laban/img/portfolio/graphic/10.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/graphic/10.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg graphics" data-setbg="{% static 'laban/img/portfolio/graphic/17.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/graphic/17.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg graphics" data-setbg="{% static 'laban/img/portfolio/graphic/18.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/graphic/18.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg graphics" data-setbg="{% static 'laban/img/portfolio/graphic/25.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/graphic/25.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/others/t1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/others/t1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/others/t2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/others/t2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/others/t3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/others/t3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg others" data-setbg="{% static 'laban/img/portfolio/others/t4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/others/t4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg drone" data-setbg="{% static 'laban/img/portfolio/drone/d1.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/drone/d1.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg drone" data-setbg="{% static 'laban/img/portfolio/drone/d2.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/drone/d2.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg drone" data-setbg="{% static 'laban/img/portfolio/drone/d3.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/drone/d3.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="pf-item set-bg drone" data-setbg="{% static 'laban/img/portfolio/drone/d4.jpg' %}">
                            <a href="{% static 'laban/img/portfolio/drone/d4.jpg' %}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>Third Vision Studio</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more-btn">
            <a href="gallery.html">Load More</a>
        </div>
    </section>
    <!-- Portfolio Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#">
                                <img src="{% static 'laban/img/till2.png' %}" alt="">
                            </a>
                        </div>
                        <p>Contact us now and let us crown your event with greatness.</p>
                        <div class="fa-social">
                            <a href="https://web.facebook.com/ThirdVisionStudios"><i class="fa fa-facebook"></i></a>                                
                            <a href="https://www.youtube.com/@thirdvisionstudios2664"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://instagram.com/thirdvision_studios?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Latest</h5>
                        <div class="fw-instagram">
                            <img src="{% static 'laban/img/instagram/latest 1.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 2.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="/gallery.html">Gallery</a></li>
                            
                            <li><a href="/services.html">Services</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Subscribe</h5>
                        <p></p>
                        <div class="fw-subscribe">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="left-btn">
                        <a href="/downloadfile.html" class="primary-btn">Get Our Catalogue PDF</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Third Visions Studio<br/>Website Created by John Mwangi
  
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'laban/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'laban/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'laban/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'laban/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'laban/js/main.js' %}"></script>
</body>

</html>



