{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Third Vision Studios">
    <meta name="keywords" content="Third Vision Studios, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Vision Studios KE</title>

    <!-- Favicon -->
    <link href="{% static 'laban/img/favicon1.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'laban/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/style2.1.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div class="loader">
        <span>{</span><span>}</span>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'laban/img/logo6.png' %}" alt="">
                        </a>
                        <br/>
                        <a href="./index.html">
                            <img src="{% static 'laban/img/.png' %}" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li class="active"><a href="./pricing.html">Pricing</a></li>
                           <li><a href="./video.html">Videos</a></li>
                            <li><a href="./gallery.html">Gallery</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                            
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
<br/><br/>
    <!-- Pricing Section Begin -->
    <div class="section-title">
        <h2><center>Price Catalogue</center></h2>
    </div>
    <br/>
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title pricing-title">
                        <h2>01.wedding service & optimal price</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>37,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>SILVER PACKAGE</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>1 Photographer</li>
                                <li>1 Videographer</li>
                                <li>Drone Coverage</li>
                                <li>1 A3 Photomount</li>
                                <li>Photobook A4 Size (50 Pgs)</li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li>Free E-Card</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>50,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Gold Package</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>2 Photographers</li>
                                <li>1 Videographer</li>
                                <li>Drone Coverage</li>
                                <li>1 A2 Photomount</li>
                                <li>1 A3 Photomount</li>
                                <li>Photobook A4 Size (50 Pgs)</li>
                                <li>Parents Photobook A5 (50 Pgs)</li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li>Wedding Video Trailer</li>
                                <li>Free E-Card</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                         <div class="pi-price">
                            <h2>Ksh<br/>90,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Diamond Package</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>2 Photographers</li>
                                <li>2 Videographers</li>
                                <li>Drone Coverage</li>
                                <li>Livestreaming</li>
                                <li>2 A2 Photomounts</li>
                                <li>2 A3 Photomounts</li>
                                <li>Photobook A4 Size (50 Pgs)</li>
                                <li>2 Parents Photobook A5 (50 Pgs)</li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li>Wedding Video Trailer</li>
                                <li>Engagement Shoot</li>
                                <li>Free E-Card</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Pricing Section End -->


    <!-- Pricing2 Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title pricing-title">
                        <h2>02.ruracio video/photo rate card</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>25,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>basic</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>1 Photographer</li>
                                <li>1 Videographer</li>
                                <li>Drone Coverage</li>
                                <li></li>
                                <li></li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li></li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>35,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Plus</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>2 Photographers</li>
                                <li>1 Videographer</li>
                                <li>Drone Coverage</li>
                                <li></li>
                                <li>1 A3 Photomount</li>
                                <li>Photobook A4 Size (50 Pgs)</li>
                                <li></li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li></li>
                                <li>Free E-Card</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                         <div class="pi-price">
                            <h2>Ksh<br/>45,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Pro</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>2 Photographers</li>
                                <li>1 Videographers</li>
                                <li>Drone Coverage</li>
                                <li>Livestreaming</li>
                                <li></li>
                                <li>2 A3 Photomounts</li>
                                <li>Photobook A4 Size (50 Pgs)</li>
                                <li></li>
                                <li>Flashdisk (All pics + Video)</li>
                                <li>Online Gallery</li>
                                <li></li>
                                <li></li>
                                <li>Free E-Card</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Pricing2 Section End -->


    <!-- Pricing3 Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title pricing-title">
                        <h2>03.Social media management rate card</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>9,500/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>basic</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>Facebook & Instagram</li>
                                <li>8 Posts & stories per month</li>
                                <li>2 Reels per month</li>
                                <li></li>
                                <li></li>
                                <li>Branding of images</li>
                                <li>4 Graphical posters per month</li>
                                <li>2 Days (2 hr) photography sessions per month</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>18,500/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Plus</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>Facebook, Instagram & Tiktok</li>
                                <li>16 Posts & stories per month</li>
                                <li>4 Reels per month</li>
                                <li></li>
                                <li>Branding of images</li>
                                <li>8 Graphical posters per month</li>
                                <li></li>
                                <li>4 Days (2 hr) photography sessions per month</li>
                                <li>30 Sec professional marketing video</li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-item">
                         <div class="pi-price">
                            <h2>Ksh<br/>35,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Pro</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <li>Facebook, Instagram, Twitter, & Tiktok</li>
                                <li>32 Postes & stories per month</li>
                                <li>8 Reels per month</li>
                                <li>Branding of images</li>
                                <li></li>
                                <li>16 Graphical posters per month</li>
                                <li>8 Days (2 hr) photography sessions per month</li>
                                <li></li>
                                <li>(2) 30 Sec professional marketing video</li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Pricing3 Section End -->

    <!-- Pricing4 Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title pricing-title">
                        <h2>04.Funeral photography rate card</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>10,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Photo/Video Only</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <h2>Videography or Photography Only</h2>
                                <br/>
                                <li>1 Videographer (Edited video) or</li>
                                <li>1 Photographer (Edited photos) or</li>
                                <li></li>
                                <li>All photos or Video shared via link</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>18,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Basic Package</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <ul>
                                <h2>Videography + Photography</h2>
                                <br/>
                                <li>1 Videographer (Edited Video)</li>
                                <li>1 Photographer (Edited Photos)</li>
                                <li>Drone (Aerial coverage)</li>
                                <li></li>
                                <li>All Photos shared via link</li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>23,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Lite Package</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <h2>Livestreaming + Photography</h2>
                                <br/>
                                <li>1 Photographer (Edited photos)</li>
                                <li>FacebookYoutube Livestreaming (1 camera setup)</li>
                                <li>A3 potrait (1 piece)</li>
                                <li>All photos & Video shared via link</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pricing-item">
                        <div class="pi-price">
                            <h2>Ksh<br/>30,000/=</h2>
                            <span></span>
                        </div>
                        <div class="pi-title">
                            <h3>Compact Package</h3>
                        </div>
                        <div class="pi-text">
                            <ul>
                                <h2>Livestreaming + Videography + Photography</h2>
                                <br/>
                                <li>1 Videographer (Edited Video)</li>
                                <li>1 Photographer (Edited Photos)</li>
                                <li>Drone camera (Aerial photos/videos)</li>
                                <li></li>
                                <li></li>
                                <li>Facebook/youtube Livestreaming (1 camear setup)</li>
                                <li>A3 potrait (1 piece)</li>
                                <li>All photos & Video shared via link</li>
                            </ul>
                            <a href="/appointment.html" class="primary-btn">Get appointment</a>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Pricing4 Section End -->
    <!-- Services Option Section Begin -->
    
    <!-- Services Option Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#">
                                <img src="{% static 'laban/img/till2.png' %}" alt="">
                            </a>
                        </div>
                        <p>Contact us now and let us crown your event with greatness.</p>
                        <div class="fa-social">
                            <a href="https://web.facebook.com/ThirdVisionStudios"><i class="fa fa-facebook"></i></a>                                
                            <a href="https://www.youtube.com/@thirdvisionstudios2664"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://instagram.com/thirdvision_studios?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Latest</h5>
                        <div class="fw-instagram">
                            <img src="{% static 'laban/img/instagram/latest 1.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 2.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="/gallery.html">Gallery</a></li>
                            
                            <li><a href="/services.html">Services</a></li>
                            <li><a href="./appointment.html">Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Subscribe</h5>
                        <p></p>
                        <div class="fw-subscribe">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="left-btn">
                        <a href="/downloadfile.html" class="primary-btn">Get Our Catalogue PDF</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Third Visions Studio<br/>Website Created by John Mwangi
  
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'laban/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'laban/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'laban/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'laban/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'laban/js/main.js' %}"></script>
</body>

</html>



