{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Third Vision Studios">
    <meta name="keywords" content="Third Vision Studios, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Third Vision Studios KE</title>

    <!-- Favicon -->
    <link href="{% static 'laban/img/favicon1.ico' %}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'laban/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'laban/css/style2.1.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div class="loader">
        <span>{</span><span>}</span>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'laban/img/logo6.png' %}" alt="">
                        </a>
                        <br/>
                        <a href="./index.html">
                            <img src="{% static 'laban/img/.png' %}" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li class="active"><a href="./services.html">Services</a></li>
                            <li><a href="./pricing.html">Pricing</a></li>
                            <li><a href="./video.html">Videos</a></li>
                            <li><a href="./gallery.html">Gallery</a></li>
                            <li ><a href="./appointment.html">Appointment</a></li>
                            
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="top-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <br/>
        <div class='header-section'>
            <h1><center>Our Services</center></h1>
        </div>
    <br/>
    <!-- Services Section Begin -->
    <section class="services-section services-normal spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/services/shooting.jpg' %}" alt="">
                        <h3>Photo/Video</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/categories/live1.jpg' %}" alt="">
                        <h3>Livestreaming</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/categories/digi.png' %}" alt="">
                        <h3>Digital Marketing</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="{% static 'laban/img/categories/graphic1.jpg' %}" alt="">
                        <h3>Graphics Design</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Services Option Section Begin -->
    <section class="services-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">01</div>
                            <h5>Photography & Videography</h5>
                        </div>
                        <p>THIRD VISION STUDIOS KE specializes in photo & Video production. We have from our long experience being able to invest in the field and as such have the most modern video and photo production gear.  We boast in a spectrum of photo and video production genres ranging from documentaries, Weddings, Commercials, Music videos, Real Estate, product photography, fashion photography, PR photography, advertisements, catalogue shoots, ETC. </p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">02</div>
                            <h5>Livestreaming</h5>
                        </div>
                        <p>THIRD VISION STUDIOS KE specializes in multi camera production, YouTube and Facebook live streaming and content creation for organizations, brands, agencies, conferences and commercial companies including corporate video production. We make highly engaging films with high quality production value using the latest equipment in the broadcasting technology so that we can best tell your story in a flawless manner. We are your trusted partner in reaching your remote audiences across the globe in the most vivid seamless manner during your big days.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">03</div>
                            <h5>Graphics & Designing</h5>
                        </div>
                        <p>Defining your brand visually with the right elements makes all the difference. At THIRD VISION STUDIOS KE, we give you the full branding packages. Our designers are trained to create unique branding and identity packages that are memorable and reflect a brand's credibility at a glance. Typography, icons, thoughtful graphic design and even the color palette are all carefully crafted to tie together a diverse selection of branded assets. OUR SERVICES INCLUDE: lnfographics, Logo Design, Corporate Branding Company Profiles, Business cards, Banners, Publication & Magazine Design, Posters and Fliers Brochures and Ad materials, hoods & T-shirts, Notebooks, Wall branding.<br/> *We provide printing services to all our design portfolios.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">04</div>
                            <h5>Digital Marketing</h5>
                        </div>
                        <br/>
                        <p><h3>Drive Traffic & Get Measurable Results</h3><br/>Social media is an integral aspect of any digital marketing marketing strategy. A well-managed social media business page has the opportunity to drive new traffic to your site, generate new leads, increase sales and boost brand mentions.<br/><br/><h3>Create Unique Content</h3><br/>Producing relevant content to your audience will provide a constant stream back to your business and its objectives. We will customize your content to interest existing and new followers alike, as well as inform them about brand updates, products, events and campaigns.</p>
                    </div>
                    <div class="so-item">
                        <div class="so-title">
                            <div class="so-number">05</div>
                            <h5>Combo Plan</h5>
                        </div>
                        <p>We have developed a special COMBO PLAN suitable for Businesses that will see them increase their online marketing activity 10 fold. We create and manage top-performing social media campaigns for business. Our company manages social media net-works such as Twitter, Facebook, Google Plus and Instagram on your behalf. We use relevant social media marketing strategies to help businesses grow and meet goals.<br/><br/>This plan includes the whole Digital Marketing Facets, i.e.<br/>i. Social Media Pages creation<br/>ii. Developing online product catalogues<br/>iii. Timely seasonal posters eg Holiday greeting posters<br/>iv. Management of Social Media pages<br/>v. Photography - for creation of unique social media content </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="right-btn">
                <a href="/contact.html" class="primary-btn">Get Quote</a>
            </div>
        </div>
            <br/>
    </section>
    <!-- Services Option Section End -->

    <!-- Footer Section Begin -->
   <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#">
                                <img src="{% static 'laban/img/till2.png' %}" alt="">
                            </a>
                        </div>
                        <p>Contact us now and let us crown your event with greatness.</p>
                        <div class="fa-social">
                            <a href="https://web.facebook.com/ThirdVisionStudios"><i class="fa fa-facebook"></i></a>                                
                            <a href="https://www.youtube.com/@thirdvisionstudios2664"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://instagram.com/thirdvision_studios?igshid=MzRlODBiNWFlZA=="><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Latest</h5>
                        <div class="fw-instagram">
                            <img src="{% static 'laban/img/instagram/latest 1.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 2.jpg' %}" alt="">
                            <img src="{% static 'laban/img/instagram/latest 3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Quick links</h5>
                        <ul>
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="/gallery.html">Gallery</a></li>
                            
                            <li><a href="/services.html">Services</a></li>
                            <li><a href="/appointment.html">Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="fs-widget">
                        <h5>Subscribe</h5>
                        <p></p>
                        <div class="fw-subscribe">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                   <div class="left-btn">
                        <a href="/downloadfile.html" class="primary-btn">Get Our Catalogue PDF</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Third Visions Studio<br/>Website Created by John Mwangi
  
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'laban/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'laban/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'laban/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'laban/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'laban/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'laban/js/main.js' %}"></script>
</body>

</html>
